.cv-container {
  background-color: #222 !important;
  color: #fff !important;
  padding: 71px !important;
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  width: 500 !important;
  margin-left: 20 !important;
}

/* Le reste du code CSS reste inchangé */
.section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact {
  display: flex;
  gap: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff !important;
}

.contact-item img {
  height: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/*h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff !important;
}*/
#cv-title1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff !important;
}
