.container {
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    width: 90%; /* Use percentage for width instead of fixed pixels */
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formtitle{
    display: block;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
    text-decoration: none;
  }
  
  label {
    margin-top: 20px;
    font-weight:normal;
  }

  
  input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  button[type="submit"] {
    margin-top: 20px;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  /* Media queries for responsive design */
  @media only screen and (min-width: 768px) {
    .container {
      width: 70%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .container {
      width: 50%;
    }
  }
  